* {
  @include box-sizing(border-box);
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: #{$doc-font-size * .8 + px};
  @include mq($medium_device) {
    font-size: #{$doc-font-size + px};
  }
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  color: $default_text_color;
  font-family: $sans-serif;
  line-height: $baselineheight;
  letter-spacing: $baseletterspacing;
  -webkit-font-smoothing: antialiased;
}

.middle-container {
  margin: 2 * $base-spacing $small-spacing;
  padding: 0 $small-spacing;
  @include mq($medium_device) {
    max-width: .85 * $max_content_width;
    margin: 4 * $base-spacing auto;
  }
}

.main-content {
  flex: 1;
  width: 100%;
}

.app-wrapper {
  position: relative;
  z-index: 2;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $white;
  transition: transform 250ms ease-in-out;
}

.html-home .app-wrapper {
  background-color: $offwhite;
}