h1 {
  line-height: $headerlineheight;
  color: $color1;
  font-size: $h1-font-size;
}
h2 {
  margin-top: 0;
  color: $color1;
  font-size: $h2-font-size;
  line-height: $headerlineheight;
}

h3 {
  font-size: $h3-font-size;
}

p {
  margin-top: 0;
  &.lede {
    font-size: 1.3em;
  }
}

table {
  margin-bottom: 1em;
}
th, td {
  padding-right: 2em;
  text-align: left;
  &:last-child {
    padding-right: 0;
  }
}
th {
  padding-bottom: 0.5em;
  border-bottom: 1px solid currentColor;
}
td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
