BASE_URI={{ BASE_URI }}
EXTERNAL_API_URI={{ EXTERNAL_API_URI }}
APP_NAME={{ APP_NAME }}
API_BEARER_NAME={{ API_BEARER_NAME }}
API_BEARER_TOKEN={{ API_BEARER_TOKEN }}
TWITTER_CONSUMER_TOKEN={{ TWITTER_CONSUMER_TOKEN }}
TWITTER_CONSUMER_SECRET_TOKEN={{ TWITTER_CONSUMER_SECRET_TOKEN }}
DB_USER={{ DB_USER }}
DB_PASSWORD={{ DB_PASSWORD }}
DB_HOST={{ DB_HOST }}
DB_PORT={{ DB_PORT }}
DB_NAME={{ DB_NAME }}
APP_PORT={{ APP_PORT }}
AWS_ACCESS_KEY={{ AWS_ACCESS_KEY }}
AWS_SECRET_KEY={{ AWS_SECRET_KEY }}
AWS_GPG_PASSPHRASE={{ AWS_GPG_PASSPHRASE }}
JAVA_OPTS={{ JAVA_OPTS }}
SHOW_ALPHA_WARNINGS={{ SHOW_ALPHA_WARNINGS }}
ADMINS={{ ADMINS }}
FB_CLIENT_ID={{ FB_CLIENT_ID }}
FB_CLIENT_SECRET={{ FB_CLIENT_SECRET }}