.objective-list-item {
  position: relative;
  border-bottom: $small-spacing solid $offwhite;
  background-color: white;
  padding: $base-spacing;
  p {
    margin-bottom: 0;
  }
  &:last-child {
    border-bottom: none;
  }
}

.objective-list-item-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 3em;
  color: $default_text_color;
  &:focus {
    background-color: transparent;
    border-bottom-color: $color3;
    outline: none;
  }
  &:hover {
    text-decoration: none;
    .objective-list-item-title {
      text-decoration: underline;
    }
    .fa {
      color: $link-colour;
    }
  }
  &:visited {
    color: $default_text_color;
  }
}


.objective-list-item-star-container {
  margin-bottom: 2px;
  @include mq($large_device) {
    position: absolute;
    top: -2px;
    left: -38px;
  }
}
.objective-list-item-star {
  $hover: false;
  @include star(22px, 1.3em, $hover);
}

.objective-list-item-removal-container {
  position: absolute;
  top: $small-spacing;
  right: $small-spacing;
}

.objective-list-item-removal-button {
  border: none;
  background: none;
  &:hover {
    color: $color2;
  }
}

.objective-list-item-title {
  margin: 0 0 0.2em;
  font-size: 1.3em;
  line-height: 1.2;
  color: $color4;
  @include word_wrap;
}

.objective-list-item-draft-begins {
  color: $grey-1;
  font-size: 90%;
}
.objective-list-item-date {
  font-weight: 700;
}

.objective-list-item-preview-text {
  margin-bottom: 0;
  word-wrap: break-word;
  &:empty {
    display: none;
  }
  &:hover {
    color: $black;
  }
}