.status-bar {
  position: relative;
  z-index: 3;
  line-height: 2 * $base-spacing;
  padding: 0 $base-spacing;
//  margin-bottom: $alpha_block_spacing;
  background: $color4;
  color: white;
  @include mq($large_device) {
//    margin-bottom: $gamma_block_spacing;
      padding: 0 2 * $base-spacing;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
