.tabs {
  padding-bottom: 6 * $base-spacing;
  .tab label {
        font-weight: bold;
        color: $color1;
        font-size: $h3-font-size;
  }
  .tab [type=radio] {
    display: none;
  }
}

@include mq($large_device) {
  .tabs {
    padding-bottom: 0;
    position: relative;
    min-height: 250px; /* This part sucks */
    clear: both;
    margin: 2 * $base-spacing 0;
    .content {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      padding: 0 $base-spacing;
      background-color: $white;
    }

    .tab {
      width: 45%;
    }
    .tab label {
      position: relative;
      cursor: pointer;
      margin-bottom: $base-spacing;
      left: -$base-spacing;
      padding: $small-spacing $base-spacing;
      border-radius: $small-spacing;
      transition: background-color $base-duration;
      &:hover {
        background-color: $offwhite;
      }
    }

    [type=radio]:checked ~ label {
      z-index: 2;
      background-color: $offwhite;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }
  }
}