.html-home {
  @include cf;
  height: 100%;
  .main-content {
    padding-top: 0;
    &:focus {
      outline: none;
    }
  }
}

.index-hero {
  margin: 0 auto;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.index-welcome {
  position: relative;
  z-index: 2;
  max-width: 16em;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include mq($smallish_device) {
    font-size: 40px;
  }
  @include mq($large_device) {
    font-size: 50px;
    line-height: 1;
  }
}
.index-intro {
  position: relative;
  z-index: 2;
  color: $grey-1;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  @include mq($smallish_device) {
    font-size: 18px;
  }
  @include mq($large_device) {
    font-size: 21px;
  }
}

.getting-started {
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 2em;
  padding-top: 1em;
  @include mq($large_device) {
    padding-top: 1.5em;
  }
  .grid-container {
    position: relative;
    max-width: 860px;
    margin: 0 auto;
    @include mq($large_device) {
      width: auto;
    }
  }
  .grid-column {
    @include mq($smallish_device) {
      width: 50%;
    }
    @include mq($large_device) {
      width: 25%;
    }
  }
}

$home_icon_height: 140px;

%index-icon {
  display: block;
  height: $home_icon_height;
  margin: 0 auto;
}

.icon-idea {
  @extend %index-icon;
  .no-svg & {
    background: image-url('lightbulb.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   * {
      fill: $color1;
   }
  }
}
.icon-users {
  @extend %index-icon;
  .no-svg & {
    background: image-url('people.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   .color1 * { fill: $color1; }
   .color2 * { fill: $color2; }
   .color3 * { fill: $color3; }
  }
}
.icon-comments {
  @extend %index-icon;
  .no-svg & {
    background: image-url('speechbubbles.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   .color1 { fill: $color1; }
   .color2 { fill: $color2; }
   .color3 { fill: $color3; }
  }
}
.icon-policy {
  @extend %index-icon;
  .no-svg & {
    background: image-url('policy.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   * {
      fill: $color1;
   }
  }
}

.index-link {
  a {
    text-decoration: none;
    color: inherit;
    &:focus {
      outline: none;
    }
  }
}

.index-actions {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
  a {
    display: inline-block;
    margin: 0 0.5em 1em 0;
    background-color: transparent;
  }
}
