.html-home {
  @include cf;
  height: 100%;
  .main-content {
    padding-top: 0;
    &:focus {
      outline: none;
    }
  }
  h2 {
    font-size: 1.75 * $base-spacing;
  }
  h3 {
    font-size: 1.5 * $base-spacing;
  }
}

.container {
  max-width: $max_content_width;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $grey-3;
  padding: $base-spacing $base-spacing;
  @include mq($large_device) {
    padding: 2 * $base-spacing $base-spacing;
  }
  @include mq($extra_large_device) {
    padding: 2 * $base-spacing 0;
  }
}

.index-hero {
  text-align: center;
  h1 {
    margin-top: 0;
    br {
      display: none;
      @include mq($medium_device) {
        display: block;
      }
    }
  }
  svg {
    width: $max_content_width * 1.25;
    max-width: 100%;
    height: 12 * $base-spacing;
    margin-top: 2 * $base-spacing;
    margin-bottom: -$base-spacing;
    @include mq($medium_device) {
      height: 10 * $base-spacing;
    }
    @include mq($large_device) {
      height: 12 * $base-spacing;
    }
    @include mq($extra_large_device) {
      height: 15 * $base-spacing;
    }
  }
  .index-welcome {
    font-size: $h1-font-size;
    margin-bottom: 0;
  }
}

.index-intro {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  p {
    font-weight: bold;
    text-align: center;
    @include mq($medium_device) {
      width: 45%;
      text-align: left;
      clear: left;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  svg {
    display: none;
    float: right;
    width: 50%;
    @include mq($medium_device) {
      display: block;
    }
  }
}

.index-quote {
  svg {
    width: 80%;
    margin: 0 auto;
    display: block;

  }
  h2 {
    text-align: center;
    margin-bottom: -2 * $base-spacing;
  }
  @include mq($medium_device) {
    h2 {
      width: 65%;
      margin-right: 0;
      margin-left: auto;
      text-align: right;
      margin-bottom: -3 * $base-spacing;
    }
    svg {
      width: 65%;
      margin: 0 0;
    }
  }
}

.getting-started {
  .grid-container {
    position: relative;
    margin: 0 auto;
  }
  .grid-column {
    @include mq($smallish_device) {
      width: 33.333%;
    }
  }
}

$home_icon_height: 6.4 * $base-spacing;

%index-icon {
  display: block;
  height: $home_icon_height;
  margin: 0 auto;
}

.index-steps {
  background-color: $black;
  color: $white;
  text-align: center;
  .container {
    border-bottom: none;
  }
  p {
    font-weight: bold;
  }
  h3 {
    color: $color1;
    margin: $small-spacing 0;
    @include mq($medium_device) {
      margin: $base-spacing 0;
    }
  }
}

.icon-idea {
  @extend %index-icon;
  .no-svg & {
    background: image-url('lightbulb.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
  }
}
.icon-users {
  @extend %index-icon;
  .no-svg & {
    background: image-url('people.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   .color1 * { fill: $color1; }
   .color2 * { fill: $color2; }
   .color3 * { fill: $color3; }
  }
}
.icon-comments {
  @extend %index-icon;
  .no-svg & {
    background: image-url('speechbubbles.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   .color1 { fill: $color1; }
   .color2 { fill: $color2; }
   .color3 { fill: $color3; }
  }
}
.icon-policy {
  @extend %index-icon;
  .no-svg & {
    background: image-url('policy.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
  }
}

.index-link {
  a {
    text-decoration: none;
    color: inherit;
    &:focus {
      outline: none;
    }
  }
}

.index-actions {
  position: relative;
  z-index: 2;
  text-align: center;
  border-top: 1px solid $grey-1;
  padding-top: 2 * $base-spacing;
  margin: 0 auto;
  a {
    display: inline-block;
    margin: 0 $small-spacing;
    background-color: transparent;
    @include mq($large_device) {
      margin: 0 $base-spacing;
    }
  }
}

.index-questions {
  background-color: $white;
  svg {
    position: relative;
    z-index: 99;
    width: 65%;
    height: auto;
    margin-top: -6 * $base-spacing;
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
  .container {
    border-bottom: none;
  }
}
