.html-home {
  @include cf;
  height: 100%;
  .main-content {
    padding-top: 0;
    &:focus {
      outline: none;
    }
  }
}

.container {
  max-width: $max_content_width;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $grey-3;
  padding: 2 * $base-spacing 0;
}

.index-hero {
  text-align: center;
  svg {
    max-width: 100%;
    margin-bottom: $base-spacing;
  }
  .index-welcome {
    font-size: $h1-font-size;
    margin-bottom: 0;
  }
}

.index-intro {
  position: relative;
  z-index: 2;
  color: $grey-1;
  margin-left: auto;
  margin-right: auto;
  p {
    width: 45%;
    clear: left;
    font-weight: bold;
  }
  svg {
    float: right;
    width: 50%;
  }
}

.index-quote {
  h2 {
    width: 65%;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    margin-bottom: -3 * $base-spacing;
  }
  svg {
    width: 65%;
  }
}

.getting-started {
  .grid-container {
    position: relative;
    margin: 0 auto;
  }
  .grid-column {
    @include mq($smallish_device) {
      width: 33.333%;
    }
  }
}

$home_icon_height: 6.4 * $base-spacing;

%index-icon {
  display: block;
  height: $home_icon_height;
  margin: 0 auto;
}

.index-steps {
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 2 * $base-spacing 0;
  .container {
    border-bottom: none;
  }
  p {
    font-weight: bold;
  }
}

.icon-idea {
  @extend %index-icon;
  .no-svg & {
    background: image-url('lightbulb.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
  }
}
.icon-users {
  @extend %index-icon;
  .no-svg & {
    background: image-url('people.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   .color1 * { fill: $color1; }
   .color2 * { fill: $color2; }
   .color3 * { fill: $color3; }
  }
}
.icon-comments {
  @extend %index-icon;
  .no-svg & {
    background: image-url('speechbubbles.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
   .color1 { fill: $color1; }
   .color2 { fill: $color2; }
   .color3 { fill: $color3; }
  }
}
.icon-policy {
  @extend %index-icon;
  .no-svg & {
    background: image-url('policy.png') no-repeat 50% 0;
    background-size: contain;
  }
  svg {
   height: $home_icon_height;
  }
}

.index-link {
  a {
    text-decoration: none;
    color: inherit;
    &:focus {
      outline: none;
    }
  }
}

.index-actions {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
  a {
    display: inline-block;
    margin: 0 0.5em 1em 0;
    background-color: transparent;
  }
}

.index-questions {
  background-color: $white;
  svg {
    position: relative;
    z-index: 99;
    width: 15%;
    height: auto;
    margin-top: -7 * $base-spacing;
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
  .container {
    border-bottom: none;
  }
}
