.icon-d-cent {
  background-image: url('/static/stonecutter-sign-in-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-in-title {
  margin: 0;
  font-size: 1.5em;
  @include mq($large_device) {
    font-size: 2em;
  }
}
.sign-in-container {
  max-width: 30em;
  background: $white;
  margin: 2 * $base-spacing auto;
  padding: $base-spacing;
  text-align: center;
  @include mq($large_device) {
    padding: 2 * $base-spacing;
  }
}

.sign-in-form {
  display: inline-block;
  max-width: 100%;
  margin-top: 0.5em;
}

.sign-up-container {
  max-width: 30em;
  background-color: white;
  margin: 2 * $base-spacing auto $base-spacing;
  padding: 1em;
  border-radius: 4px;
  @include mq($large_device) {
    padding: 2em;
  }
}
