extends layouts/base

block vars
  - htmlClass = "html-home"

block content
  .getting-started.index-link
    .index-hero
      include ../images/heroimage.svg
      .container
        h1.index-welcome It’s time to create a plan for making<br /> the West Midlands better – together

    .index-intro
      .container
        include ../images/westmidsmap.svg
        p Next year, the Government is giving the West Midlands power and money to do things our way - and in May 2017 we have to elect a Metro Mayor to call the shots.
        p We want to work together to give the politicians a plan that <strong>we</strong> think will make a difference. So: pitch in. Give us your ideas for what needs to change!

    .index-quote
      .container
        h2 “The Metro Mayor will be elected to control big budgets and make big decisions. They’ll play a big role in shaping the future of where we live.”
        include ../images/quoteillustration.svg

    .index-steps
      .container
        h2 By working together to create The People’s Plan we’ll send a clear message about what we want from our new mayor.
        p Creating the plan together involves three simple steps.
        .grid-container
          .grid-column
            .info-box-icon
              span.icon-idea
                include ../images/lightbulb.svg
            h3 Submit an idea
            p.info-box-text Anyone can submit an idea which describes a change they want to see.
          .grid-column
            .info-box-icon
              span.icon-users
                include ../images/people.svg
            h3 Question &amp; comment
            p.info-box-text Anyone can then ask questions or comment on the ideas submitted.
          .grid-column
            .info-box-icon
              span.icon-comments
                include ../images/speechbubbles.svg
            h3 Review each action plan
            p.info-box-text Ideas are turned into draft action plans for you to review.
        .index-actions
          a.button.objectives-link(href="/objectives", data-l8n="content:index/objectives") !View Objectives
          a.button.index-learn-more(href="/learn-more", data-l8n="content:index/learn-more") !Learn more

    .index-questions
      .container
        h3 Questions &amp; answers
        .tabs
           .tab
               input(type="radio", id="tab-1", name="tab-group-1", checked)
               label(for="tab-1") Will the Metro Mayor make a difference?
               .content
                  p Choosing the right Metro Mayor – one with a clear understanding of what we want for the West Midlands – will make a massive difference.
                  p The new mayor will not only control big budgets within the region, they’ll also play a big role in championing the West Midlands outside of the region.
           .tab
               input(type="radio", id="tab-2", name="tab-group-1")
               label(for="tab-2") What sort of ideas should be going into the plan?
               .content
                 p The West Midlands is a place of opportunity and enterprise, with a proud tradition of trade, manufacturing and innovation. But it lacks good jobs, affordable homes, good transport and long-term investment.
                 p The People’s Plan is about identifying the big challenges we all agree need tackling.
           .tab
               input(type="radio", id="tab-3", name="tab-group-1")
               label(for="tab-3") Who’s behind The People’s Plan?
               .content
                 p The People’s Plan has been started by Liam Byrne, MP for Hodge Hill in Birmingham.
                 p It’s not a party political initiative, however. It will involve trade unions, community groups and as many people as possible from all parties and none.
        include ../images/qa.svg
    .index-blog
      .container
        .blog-intro
          h3 Follow our progress
          p The People’s Plan blog is the place to stay up to date with our progress. We’ll be using it to consult on the process, respond to feedback and share news about the offline events we’ve got planned.
          a(href="https://westmidsblog.peoplesplan.co.uk") Visit the People’s Plan blog
        ul.blog-feed


  script(src="https://westmidsblog.peoplesplan.co.uk/shared/ghost-url.min.js?v=4f7c08f541")
  script.
    ghost.init({clientId: "ghost-frontend",clientSecret: "1b1ee89031a7"});
    function onSuccess(data) {
      var $result = $('.blog-feed');
      $.each(data.posts, function (i, post) {
        var thisDate = new Date(post.created_at);
        var myDate = ('0' + thisDate.getDate()).slice(-2) + '/'
                   + ('0' + (thisDate.getMonth()+1)).slice(-2) + '/'
                   + ('0' + thisDate.getFullYear()).slice(-2);
        $result.append(
          '<li><span class="post-date">' + myDate + '</span><a href="https://westmidsblog.peoplesplan.co.uk/' +  post.slug + '">' + post.title + '</a></li>'
        );
      });
    }    