extends layouts/base

block vars
//  - pageTitle = "Settings"

block content

  .middle-container.clj-learn-more
    h1 The People’s Plan
    h2 How will the process work?
    p.lede The People’s Plan is about the people of the West Midlands calling the shots: setting out OUR priorities for the region. We want to use this plan to shape what the Metro Mayor does for us.

    p The People’s Plan process will work like this:
    ul
      li The website will host discussions about your ideas, which will be developed into action plans.
      li You can propose ideas, ask questions, answer questions or make comments.
      li All this discussion is out in the open and visible on the website to everyone. We’re asking people to organise discussion meetings as well.
      li There is a team of volunteers writers helping to administer the site (I am one of them). They have submitted some ideas and will develop the draft action plans.
      li We will bring everything together to produce a document called ‘The People’s Plan’
      li The People’s Plan will be designed to influence anyone who wants to be our Metro Mayor!
    p This is called ‘deliberative democracy’ - it’s about discussion rather than voting.
    p Any use of bad language of prejudice based on race, faith, gender or sexuality will not be tolerated.
    p This is a very new thing, so please bear with us as we iron out the glitches. The more people who participate, the more legitimacy and impact our work will have. So please get involved, and please show your friends, colleagues and family this website and encourage them to take part too.
    p Liam Byrne MP

    a.button.index-get-started(href="/objectives", title="!Get started", data-l8n="attr/title:learn-more/get-started-button-title content:learn-more/get-started-button-text") !Get started