extends layouts/base

block vars
//  - pageTitle = "Settings"

block content

  .middle-container.clj-learn-more
    h1 The People’s Plan
    h2 How will the policy making process work?
    p.lede The People’s Plan is about the people of the West Midlands setting out their priorities for the region – then using the plan we create to influence our Metro-Mayor election.

    p The People’s Plan process will work like this:
    ul
      li The website will host discussions about objectives for the new Mayor. An objective might be something like ‘More good jobs for people in the West Midlands.’
      li You can comment on objectives, ask questions, suggest how we can achieve the objective, and express your support or disapproval.
      li You can also propose your own objectives, and other people can then comment on your proposals.
      li All this discussion is out in the open and visible on the website to everyone.
      li We will then produce a document called ‘The People’s Plan’ on the basis of the discussion.
      li The document will be designed to influence the Mayor and other politicians through the power of your voice.
    p There is a team of volunteers helping to administer the site - I am one of them. We will propose some initial objectives to get the discussion going. We will try and answer questions and develop ideas about how the Mayor can achieve the objectives. If there are multiple discussions about similar issues we will try and bring them together. We will also act as moderators and make sure the site is a place for everyone’s ideas and opinions. Any use of bad language of prejudice based on race, faith, gender or sexuality will not be tolerated.
    p If this process works, we will generate a body of discussion and debate about issues that matter to the people of the West Midlands. We can prove these issues really matter because you will have invested your time and energy in taking part. This process is called ‘deliberative democracy’ because it’s about discussion rather than voting. We then need to turn the discussion into a document - the People’s Plan - that will help set the agenda for the new Mayor.
    p This is a very new thing, so please bear with us as we iron out the glitches. The more people who participate, the more legitimacy and impact our work will have. So please get involved, and please show your friends, colleagues and family this website and encourage them to take part too.

    a.button.index-get-started(href="/objectives", title="!Get started", data-l8n="attr/title:learn-more/get-started-button-title content:learn-more/get-started-button-text") !Get started